{% extends 'base.html' %}

{% block title %}Dicionário {% endblock %}

{% block conteudo %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dicionário de Termos</title>
    <style>
        table {
            width: 60%;
            border-collapse: collapse;
            margin: 20px auto;
            font-family: Arial, sans-serif;
            color: white
        }
        th, td {
            border: 1px solid #D5D5D5;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #1C1C1C;
        }
        caption {
            font-size: 1.5em;
            margin-bottom: 10px;
        }
    </style>
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <table>
        <caption>Dicionário de Termos</caption>
        <thead>
            <tr>
                <th>Termo</th>
                <th>Definição</th>
            </tr>
        </thead>
        <tbody>
            {% for termo in termos %}
            <tr>
                <td>{{ termo[0] }}</td>
                <td>{{ termo[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

{% endblock %}
