{% extends 'base.html' %}

{% block title %}Equipe | FlaskEdu{% endblock %}

{% block conteudo %}
  <main>
        <section class="inicio-do-site">

<div class="interface">
    <div class="flex">
        <div class="txt-topo-site">
<h1>EQUIPE : </h1>
            <h2>TRANSFORMANDO IDEIAS EM REALIDADE DIGITAL<span>.</span></h2>
<div class="img-logo">
<img src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo FlaskEdu" style="width: 250px;">

        <div class="img-topo-site">

    </div> <!--interface-->
             </div><!--flex-->
            </div><!--txt-topo-site-->
            </div><!--img-topo-site-->
            </div> <!--img-logo-->

        </section> <!--inicio-do-site-->
      </div> </main>
{% endblock %}