{% extends 'base.html' %}

{% block title %}Equipe | FlaskEdu{% endblock %}

{% block conteudo %}
<style>
.img-topo-site img {
    width: 500px; /* Ou o tamanho que você quiser */
    height: auto; /* Mantém proporção */

}
</style>
  <main>
        <section class="inicio-do-site">

<div class="interface">
    <div class="flex">
        <div class="txt-topo-site">
<h1><span>EQUIPE: </span> Flask<span>Edu</span> </h1>
            <div class="img-logo">

            <h2><p style="text-transform: uppercase;">Transformamos ideias em realidade digital — conheça quem faz isso acontecer<span>!</span></p></h2>

        <div class="img-topo-site">
            <img src="/static/images/equipe%201.png" alt="Arthur">

    </div> <!--interface-->
             </div><!--flex-->
            </div><!--txt-topo-site-->
            </div><!--img-topo-site-->
            </div> <!--img-logo-->

        </section> <!--inicio-do-site-->
      </div> </main>
{% endblock %}