{% extends 'base.html' %}

{% block title %}Dicionário {% endblock %}

{% block conteudo %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dicionário de Termos</title>
    <style>
        table {
            width: 60%;
            border-collapse: collapse;
            margin: 20px auto;
            font-family: Arial, sans-serif;
            color: white
        }
        th, td {
            border: 1px solid #D5D5D5;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #1C1C1C;
        }
        caption {
            font-size: 1.5em;
            margin-bottom: 10px;
        }
    </style>
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <table>
    <thead>
        <tr>
            <th>#</th>                <!-- Índice -->
            <th>Termo</th>            <!-- Termo -->
            <th>Definição</th>        <!-- Definição -->
            <th>Ações</th>            <!-- Coluna vazia -->
        </tr>
    </thead>
    <tbody>
        {% for item in glossario %}
        <tr>
            <td>{{ loop.index }}</td>    <!-- Índice começa em 1 -->
            <td>{{ item[0] }}</td>       <!-- Termo -->
            <td>{{ item[1] }}</td>       <!-- Definição -->
            <td>
                <div style="display: flex; gap: 20px;"><!-- Botão EDITAR -->
                    <a href="{{ url_for('editar_termo', termo_id=loop.index0) }}">
                        <button style="background-color: #2980b9; color: white; padding: 5px 10px; border: none; border-radius: 5px; margin-right: 5px;">
                            ✏️ Editar
                        </button>
                    </a>

                    <!-- Botão EXCLUIR -->
                    <form method="POST" action="{{ url_for('excluir_termo', termo_id=loop.index0) }}" style="display:inline;">
                        <button type="submit" style="background-color: #e74c3c; color: white; padding: 5px 10px; border: none; border-radius: 5px;">
                            🗑️ Excluir
                        </button>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    <div style="display: block; margin: 20px auto text-align: center;">
        <a href="{{ url_for('novo_termo') }}">
        <div style="text-align: center; margin-top: 30px; margin-bottom: 20px;">
            <a href="{{ url_for('novo_termo') }}">
                 <button style="background-color: purple; color: white; padding: 10px 20px; border: none; border-radius: 5px;">
                ➕ Adicionar Termo
             </button>
         </a>
    </div>

        </a>
    </div>

</body>
</html>

{% endblock %}