{% extends 'base.html' %}

{% block title %} Início | FlaskEdu{% endblock %}

{% block conteudo %}
    <h1>Página Inicial</h1>
    <p>Bem-vindo ao FlaskEdu AI! Este site foi desenvolvido por estudantes de Ciência da Computação e Sistemas para Internet para facilitar o aprendizado de programação em Python. Oferecemos conteúdo abrangente sobre os fundamentos da linguagem, desde estruturas de seleção e repetição até funções e tratamento de exceções. Além disso, você pode tirar suas dúvidas em tempo real com a ajuda da API do Gemini, nossa inteligência artificial de apoio ao aprendizado."</p>
{% endblock %}

