{% extends 'base.html' %}

{% block title %} Início | FlaskEdu{% endblock %}

{% block conteudo %}

<style>
* {
margin:0;
padding: 0;
box-sizing:boder-box;
 }
</style>
    <div class="">
    <h1>Projeto Flask + Gemini: Interação com IA para Fundamentos de Programação</h1>
    </div>
    <p> Este site foi desenvolvido por estudantes de Ciência da Computação e Sistemas para Internet com o objetivo de facilitar o aprendizado de programação em Python. O projeto foi criado como parte das atividades da disciplina de Introdução à Programação, abrangendo os principais fundamentos da linguagem — desde estruturas de seleção e repetição, até funções, procedimentos e tratamento de exceções.

            <h2>Além disso, oferecemos um recurso inovador: você pode tirar dúvidas em tempo real com o suporte da API Gemini, nossa inteligência artificial integrada para potencializar sua experiência de aprendizado.</h2>

{% endblock %}

