{% extends 'base.html' %}

{% block title %}Dicionário {% endblock %}

{% block conteudo %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dicionário de Termos</title>
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <table>
        <caption>Dicionário de Termos</caption>
        <thead>
            <tr>
                <th>Termo</th>
                <th>Definição</th>
            </tr>
        </thead>
        <tbody>
            {% for termo in termos %}
            <tr>
                <td>{{ termo[0] }}</td>
                <td>{{ termo[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <div style="display: block; margin: 20px auto text-align: center;">
        <a href="{{ url_for('novo_termo') }}">
        <div style="text-align: center; margin-top: 30px; margin-bottom: 20px;">
            <a href="{{ url_for('novo_termo') }}">
                 <button style="background-color: #483D8B; color: white; padding: 10px 20px; border: none; border-radius: 5px;">
                ➕ Adicionar Termo
             </button>
         </a>
    </div>

        </a>
    </div>

</body>
</html>

{% endblock %}